@keyframes slideIn {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.slide-in {
  animation-name: slideIn;
  animation-duration: 1.2s;
  animation-iteration-count: once;
}

.circle-img {
  width: min(10vh, 10vw);
  height: min(10vh, 10vw);
  max-width: min(10vw, 50px);
  max-height: min(10vw, 50px);
}